/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/susy-1.0.5/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/_layout.scss */
.container {
  overflow: hidden;
}

/* line 34, ../sass/_layout.scss */
.left {
  width: 80%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-left: -100%;
}
/* line 37, ../sass/_layout.scss */
.show-left .left {
  margin-left: 0;
}

/* line 40, ../sass/_layout.scss */
.main {
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-right: 0;
}
/* line 43, ../sass/_layout.scss */
.show-left .main {
  margin-right: -80%;
}
/* line 44, ../sass/_layout.scss */
.show-right .main {
  margin-left: -80%;
}

/* line 47, ../sass/_layout.scss */
.right {
  width: 80%;
  float: right;
  margin-right: 0;
  #margin-left: 0em;
  display: inline;
  margin-right: -100%;
}
/* line 50, ../sass/_layout.scss */
.show-right .right {
  margin-right: 0;
}

@media (min-width: 34em) {
  /* line 60, ../sass/_layout.scss */
  [href="#left"] {
    visibility: hidden;
  }

  /* line 62, ../sass/_layout.scss */
  .left {
    width: 37.5%;
    float: left;
    margin-right: 0%;
    margin-left: 0;
  }
  /* line 65, ../sass/_layout.scss */
  .show-right .left {
    margin-left: -100%;
  }

  /* line 68, ../sass/_layout.scss */
  .main {
    width: 62.5%;
  }
  /* line 70, ../sass/_layout.scss */
  .show-right .main {
    margin-left: 0;
  }
  /* line 71, ../sass/_layout.scss */
  .show-left .main {
    margin-right: 0;
  }

  /* line 74, ../sass/_layout.scss */
  .right {
    width: 37.5%;
  }
  /* line 76, ../sass/_layout.scss */
  .show-right .right {
    margin-right: 0;
  }
}
@media (min-width: 50em) {
  /* line 87, ../sass/_layout.scss */
  [href="#right"] {
    visibility: hidden;
  }

  /* line 89, ../sass/_layout.scss */
  .left {
    width: 25%;
    float: left;
    margin-right: 0%;
  }
  /* line 91, ../sass/_layout.scss */
  .show-right .left {
    margin-left: 0;
  }

  /* line 94, ../sass/_layout.scss */
  .main {
    width: 50%;
  }

  /* line 98, ../sass/_layout.scss */
  .right {
    width: 25%;
    float: right;
    margin-right: 0;
  }
}
/* line 103, ../sass/_layout.scss */
html, body, .container {
  height: 100%;
}

/* line 107, ../sass/_layout.scss */
.left, .right, .main {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  height: 100%;
}

/* line 112, ../sass/_layout.scss */
.left, .right {
  position: relative;
  z-index: 20;
}

/* line 117, ../sass/_layout.scss */
.button.show-left {
  width: 20%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 121, ../sass/_layout.scss */
.button.show-right {
  float: right;
  margin-right: 0;
  #margin-left: 0em;
  display: inline;
  width: 20%;
  float: right;
  margin-right: 0;
  #margin-left: 0em;
  display: inline;
}

@font-face {
  font-family: 'Entypo';
  src: url("../assets/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../assets/entypo/entypo.woff") format("woff"), url("../assets/entypo/entypo.ttf") format("truetype"), url("../assets/entypo/entypo.svg#Entypo") format("svg");
}

/* line 9, ../sass/_style.scss */
.toggle {
  font-family: 'Entypo';
  font-size: 4em;
  font-weight: normal;
  line-height: 0.3em;
  padding: 10px 0;
  text-align: center;
  position: relative;
  z-index: 22;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: block;
}

/* line 23, ../sass/_style.scss */
.show-left .toggle,
.show-right .toggle {
  -webkit-box-shadow: 0 0 10px 0 #444444;
  -moz-box-shadow: 0 0 10px 0 #444444;
  box-shadow: 0 0 10px 0 #444444;
}

/* line 27, ../sass/_style.scss */
.show-left {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

/* line 31, ../sass/_style.scss */
.show-right {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

/* line 35, ../sass/_style.scss */
.left, .right {
  -webkit-box-shadow: 0 0 20px 0 #444444;
  -moz-box-shadow: 0 0 20px 0 #444444;
  box-shadow: 0 0 20px 0 #444444;
}
